<nav class="navbar navbar-inverse navbar-fixed-top nav-background">
  <div class="container col-md-12 col-xs-12 ">
    <div class="navbar-header col-lg-md-3 col-md-5 col-xs-5 col-sm-2 padding-left-minimum">
          <div class="col-xs-6 padding-left-button padding-right-button col-toggle-button">
            <button type="button" class="navbar-toggle collapsed navbar-toggle-Home toggle-button" data-toggle="collapse" data-target="#navbar,#navbar-menu" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          </div>
          <a href="#" class="col-xs-6 a-isologo"><img class="navbar-brand logo-style padding-logo-style display-isologo" src="images/white_logo.png" alt="Logo"></a>
          <a href="#" class="navbar-image"><img class="navbar-brand logo-style display-whitelogo" src="images/white_logo.png" alt="Logo"></a>
    </div>
    <div class="select-styles col-lg-1 col-md-2 col-xs-3 col-sm-2" style="padding-right: 0px;padding-left: 0px;">
      {{#link-to 'contact-us'}}<a class="textWhiteColor">Contact Us</a>{{/link-to}}
    </div>
    
    <!--/.navbar-collapse -->
  </div>
</nav>
{{yield}}