/* colors */
$background-color-green: #0EC261;
$background-color-green41: #3A7555;
$background-color-grey: #aeb7b2;
$background-color-white: #fff;
$background-color-gainsboro: #DCDCDC;
$background-color-gray241: #f1f1f1;
$background-color-gray95: #f2f2f2;
$background-color-gray249: #f9f9f9;
$background-color-gray84: #A4A4A4;
$background-color-gray8d: #8d8a8a;
$background-color-blue183: #337ab7;
$background-color-black51: #333;
$background-color-yellow733: #fdb733;
$background-color-yellow82: #dd8200;
$background-color-red90: #e90041;
$background-color-mainBlack: #292B2A;
$background-color-greenBlack: #111f10;


$textcolor-color-black: #2d2c41;
$textcolor-color-black0: #000;

/* sizes */
$xxsmall-size: 270px;
$xsmall-size: 300px;
$xsmall-size32: 320px;
$xsmall-size37: 375px;
$xsmall-size39: 396px;
$xsmall-size-medium4: 400px;
$xsmall-size-medium: 450px;
$xsmall-size-medium5: 500px;
$xsmall-size-medium51: 501px;
$xsmall-size-high: 767px;
$xsmall-size-maximum: 768px;
$small-size-minimum: 769px;
$small-size-medium:827px;
$small-size-medium82:828px;
$small-size-medium89: 899px;
$small-size-medium9: 900px;
$small-size-maximum: 991px;
$medium-size-minimum: 992px;
$medium-size-low: 993px;
$medium-size-maximun: 1024px;
$large-size-minimum: 1200px;
$large-size-low: 1201px;

/*margins */

$margin-zeropointfivepercent: 0.5%;
$margin-zeropointeightpercent: 0.8%;
$margin-onepointfivepercent: 1%;
$margin-twopointfivepercent: 2.5%;
$margin-threpercent: 3%;
$margin-fourpercent: 4%;
$margin-fourpointthrepercent: 4.3%;
$margin-fivepercent: 5%;
$margin-sixpointtwopercent: 6.2%;
$margin-tenpercent: 10%;
$margin-thirtypercent: 13%;
$margin-eighteenpercent: 18%;
$margin-twentypercent: 20%;
$margin-twentyfourpercent: 24%;
$margin-twentyfivepercent: 25%;
$margin-thirtysevenpointsixpercent: 37.6%;
$margin-fortythreepercent: 43%;
$margin-zeropixel: 0px;
$margin-onepixel: 1px;
$margin-twopixel: 2px;
$margin-fourpixel: 4px;
$margin-fivepixel: 5px;
$margin-eightpixel: 8px;
$margin-tenpixel: 10px;
$margin-thirteenpixel: 13px;
$margin-fifteenpixel: 15px;
$margin-twentypixel: 20px;
$margin-twentythrepixel: 23px;
$margin-thirtypixel: 30px;
$margin-fourtypixel: 40px;
$margin-fiftypixel: 50px;
$margin-sixtypixel: 60px;
$margin-sixtynine: 69px;
$margin-seventypixel: 70px;
$margin-onehundrertwenty: 120px;