{{navbar-hide}}
<div class="text-center padding-hero" style="padding-top: 40px;">
	<h2 class="textBlueColor"><b>Contact Us</b></h2>
	<p class="textBlueColor">Your comments and questions are important to us. Please send us an email and we will be happy to answer:</p>
	<h3 class="textBlueColor"><a class="textBlueColor" href="mailto:kcinfo@kidschoose.com?Subject=Hello%20Choosi">{{t "landing.about.mail"}}</a></h3>
</div>
{{outlet}}
