<div class="col-md-12 col-sm-12 col-xs-12 padding-hero section-scrolly">
    <div style="background-image:url(images/heroImage.jpg)" class="img-hero col-md-12">
    	<div class="col-md-12 div-text-hero ">
    		<img src="images/white_logo.png" class="choosi-img">
	    	<h1 class="textheroColor size-text-hero hero-text-font" >Coming Soon</h1>
	    </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 padding-logoKid">
		<div class="col-md-9 col-sm-8 col-xs-12">
			<h3 class="hero-text description-text-font">
				{{t "landing.kids.first"}}
			</h3>
			<h3 class="hero-text description-text-font">
				<color class="textgreen">{{t "landing.kids.name"}}</color>{{t "landing.kids.second"}}
			</h3>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-12 padding-image-kidsChoose">
			<div style="background-image:url(images/kids-image.png)" class="img-left col-md-12"></div>
		</div>
	</div>

</div>